* {
  /*border-radius: 0 !important;*/
}

.habit-header-bar{
	display:flex;
	flex-direction: row;
	width:100%;
	margin-bottom:20px;
	align-items: center;
	height: 100px;
}

#deletebutton{
	border: none;
	width:15%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	filter: invert(100%);
}

.deletebuttonimg{
	width: 60px;
	height: 60px;
}

#addbutton{
	border: none;
	width:15%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	filter: invert(100%);
}

.addbuttonimg{
	width: 60px;
	height: 60px;
}


.header-wrapper{
	width:70%;
	text-align: center;
	background-color:black;
	color:white;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
