*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*border: black solid 1px;*/
}

h1, h2, h3{
	font-family: 'Oswald', sans-serif;
}
h1{
	text-transform: uppercase;
}
p{
	font-family: 'Roboto Slab', serif;
}

.content{
	background-color: black;
}
.pages{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.page{
	background-color: black;
}
.pagecontent{
	margin: 50px;
	height: 800px;
	display: flex;
	border-radius: 50px 50px;
	color: white;
}.pagetitlebox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
	margin: 50px;
	font-size: 200px;
	letter-spacing: 50px;
}.pagetitlebox > h1{
	font-size: 150px;
	letter-spacing: 50px;
}

.page.first{
 	background-image: url("../assets/sunset.jpg");
 	background-position: center;
 	background-repeat: no-repeat;
}.pagecontent.first{
	text-align: center;
	flex-direction: column;
	justify-content: center;
	border: solid 4px white;
}.first > h1{
	font-size: 200px;
	letter-spacing: 50px;
}.first> p{
	font-size: 20px;
	text-transform: lowercase;
	letter-spacing: 20px;
}

.page.second{
	background: #000022;
}.pagecontent.second{
	flex-direction: row;
	justify-content: center;
}.second.pagetitlebox > h1{
	text-align: left;
}.desc_stats{
	margin: 50px 50px 50px 0;
	display: flex;
	flex-direction: column;
	justify-content: top;
	width: 60%;
}.desc_stats > p{
	font-size: 30px;
	letter-spacing: 5px;
	line-height: 70px
}.basicstats{
	font-size: 50px;
	letter-spacing: 20px;
}

.page.fourth{
	background: #222200;
}.pagecontent.fourth{
	flex-direction: row-reverse;
	justify-content: space-between;
}.fourth.pagetitlebox > h1{
	text-align: right;
}.profile{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	padding: 50px;
}.profile > h3{
	text-align: center;
	padding: 20px 0;
}.profile > p{
}.pictureplaceholder{
	width: 200px;
	height: 200px;
	background-color: black;
	border-radius: 100%;
}

/*.graph{
	size: 300px;
	background-color: white;
}

.page.third{
	padding: 20rem 10rem;
	display: flex;
	flex-direction: row;
	background-color: orange;
	flex-wrap: wrap;
	justify-content: center;
}

.totalpledged{
	width: 60%;
	background-color: red;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 2rem;
}

.totalpledged > h2{
	font-size: 5rem;
}

.totalpledged > h1{
	font-size: 20rem;
}*/

/*@media(max-width: 400px){
	h1, h2, h3{
		font-size: 20px !important;
	}
}*/