*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* border: black solid 1px; */
	user-select: none;
}

h1, h2, h3{
	font-family: 'Oswald', sans-serif;
}h1{
	text-transform: uppercase;
}p, a, h4{
	font-family: 'Roboto Slab', serif;
}

.content{
	width: 100%;
	background-color: black;
}.pages{
	/*padding-top: 50px;*/
	display: flex;
	flex-direction: column;
}.page{
	background-color: white;
}.pageborder{
	height: 100%;
	padding: 40px;
}.pagecontent{
	height: 100%;
	width: 100%;
	display: flex;
	border-radius: 50px;
	color: black;
}.pagetitlebox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
	margin: 50px;
	font-size: 200px;
}.pagetitlebox > h1{
	font-size: 150px;
	letter-spacing: 50px;
	text-align: center;
}
