{% load staticfiles %}
<link href="{% static 'webapp/css/habit_header_bar.css' %}" type="text/css" rel="stylesheet">
<div class = "habit-header-bar">
	<button type="button"  id="addbutton">
			<img src="{% static 'webapp/assets/plus-50.png' %}" class="addbuttonimg">
        </button>
    <div class="header-wrapper">
    	<h1 id="header-wrapper">Habits</h1>
    </div>
        <button type="button"  id="deletebutton">
			<img src="{% static 'webapp/assets/minus-50.png' %}" class="deletebuttonimg">
        </button>
</div>