{% extends "webapp/__base.html" %}
{% load staticfiles %}
{% block extra_head %}
  <link href="{% static 'webapp/css/home.css' %}" type="text/css" rel="stylesheet">
  <!-- Bootstrap Core CSS -->
  <link href="{% static 'webapp/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Morris Charts CSS -->
  <link href="{% static 'webapp/css/plugins/morris.css' %}" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="{% static 'webapp/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Strait" rel="stylesheet">
  <script src="{% static 'webapp/js/habits.js' %}"></script>
  <script src="{% static 'webapp/js/auth.js' %}"></script>
  <script src="{% static 'webapp/js/home.js' %}"></script>
{% endblock %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{% endblock %}
{% block content %}
	<div class="content">
		{% include "webapp/header.html" %}


		<div class="page">
			<div class="column">
				<h1>Jishnu Datta</h1>
				<div class = "section-container day-streak">
					<div class="streak">	
						<h1>33</h1>
					</div>
					<div class="day">
						<h1>Days into not pooping!</h1>
					</div>
				</div>
				<div class = "section-container">
					<h1>Top Overall Persistence</h1>
					<img src="{% static 'webapp/assets/Graph.png' %}">
				</div>
				<div class = "section-container">
					<h1>Average Persistence</h1>
					<img src="{% static 'webapp/assets/placeholdergraph.png' %}">
				</div>
				<div class = "section-container">
					<img src="{% static 'webapp/assets/placeholdergraph.png' %}">
				</div>
			</div>
			<div class="column">
				
			</div>	
		</div>
	</div>


{% endblock %}
