{% extends "webapp/__base.html" %}
{% load staticfiles %}
{% block extra_head %}

  <!-- Home page CSS references -->
  <link href="{% static 'webapp/css/home.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'webapp/css/habitbar.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'webapp/css/habit_header_bar.css' %}" type="text/css" rel="stylesheet">

  <!-- Bootstrap Core CSS -->
  <link href="{% static 'webapp/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Morris Charts CSS -->
  <link href="{% static 'webapp/css/plugins/morris.css' %}" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="{% static 'webapp/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Strait" rel="stylesheet">

  <!-- Javascript files -->
  <script src="{% static 'webapp/js/habits.js' %}"></script>
  <script src="{% static 'webapp/js/auth.js' %}"></script>
  <script src="{% static 'webapp/js/home.js' %}"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{% endblock %}
{% block content %}
	<div class="content">
		{% include "webapp/header.html" %}
		{% include "webapp/habitform.html" %}
		<div class="page">
			<div class="column reg">
				<h1>Jishnu Datta</h1>
				<div class = "section-container day-streak">
					<div class="streak">
						<h1 id="streak">33</h1>
					</div>
					<div class="day">
						<h1>Days into not pooping!</h1>
					</div>
				</div>
				<div class = "section-container">
					<h1 id="Top-Persistence">Top Overall Persistence</h1>
					<img src="{% static 'webapp/assets/Graph.png' %}">
				</div>
				<div class = "section-container">
					<h1 id="avg-persistence">Average Persistence</h1>
					<img src="{% static 'webapp/assets/email_graph.jpg' %}">
				</div>
			</div>
			<div class="column habits">
				<div class = "section-container" id="habitstatus">
					{% include "webapp/habit_header_bar.html" %}
				</div>
				<div class = "section-container">
					{% include "webapp/habitbar.html" %}
				</div>
				<div class = "section-container">
					{% include "webapp/habitbar.html" %}
				</div>
				<div class = "section-container">
					{% include "webapp/habitbar.html" %}
				</div>
				<div class = "section-container">
					{% include "webapp/habitbar.html" %}
				</div>
				<div class = "section-container">
					{% include "webapp/habitbar.html" %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
