{% load staticfiles %}
<div class="page second">
	<div class="pagecontent second">
		<div class="pagetitlebox second">
			<h1>What<br>we<br>do</h1>
		</div>
		<div class="desc_stats">
			<p>Welcome to Persist. Control habits by pledging money to a charity. <br> Persist until the end date and the pledge is returned.</p>
			<img src="{%static 'webapp/assets/totaldaystotalamountgraph.png'%}">
			<h2><span class="graphvalue1">102482</span> days</h2>
			<h2><span class="graphvalue2">345128</span> dollars</h2>
		</div>
	</div>
</div>