{% load staticfiles %}
<div class="page second">
	<div class ="pageborder">
		<div class="pagecontent second">
			<h1>What is Persist?</h1>
			<div class="persist_description">
				<div class="persist_description1">
					<h4>Pledge money.</h4><h4> Control habits.</h4><h4> Persist.</h4>
					<p>Here's the idea: You pledge money to a select charity of your choice, choose your end date and then commit. Persist until your end date and the money is returned.<br><br><b>Persist works.</b> Negative reinforcement can sound menacing but when you are trying to shake off that 8 year smoking addiction or are simply trying to eat healthier everyday, there needs to be additional reasons to continue.</p>
				</div>
				<div class="persist_description2">
					<img src="{%static 'webapp/assets/totaldaystotalamountgraph.png'%}">
					<h4><span class="graphvalue1">102482 </span>days <span class="graphvalue2">345128 </span> dollars</h4>
				</div>
			</div>
		</div>
	</div>
</div>