{% load staticfiles %}
<div class="page fourth">
	<div class="pagecontent fourth">
		<div class="pagetitlebox fourth">
			<h1>Who<br>we<br>are</h1>
		</div>
		<div class="profile">
			<img src="{%static 'webapp/assets/daniel_profile.jpg'%}" class="picture daniel">
			<h3>Daniel Yuan</h3>
			<p>Primarily back-end</p>
		</div>
		<div class="profile">
			<img src="{%static 'webapp/assets/raymond_profile.jpg'%}" class="picture raymond">
			<h3>Raymond Miao</h3>
			<p>Back-end</p>
		</div>
		<div class="profile">
			<img src="{%static 'webapp/assets/felix_profile.jpg'%}" class="picture felix">
			<h3>Felix Li</h3>
			<p>Primarily front-end</p>
		</div>
		<div class="profile">
			<img src="{%static 'webapp/assets/jishnu_profile.png'%}" class="picture jish">
			<h3>Jishnu Datta</h3>
			<p>:Front-end</p>
		</div>
	</div>
</div>