{% load staticfiles %}
<link href="{% static 'webapp/css/landing2.css' %}" type="text/css" rel="stylesheet">
<div class="page second">
	<div class ="pageborder">
		<div class="pagecontent second">
			<h1>What is Persist?</h1>
			<div class="persist_description">
				<h2>Control habits by pledging money to a charity. Persist until the end date and the pledge is returned.</h2>
				<p> </p>
				<!-- <img src="{%static 'webapp/assets/totaldaystotalamountgraph.png'%}">
				<h2><span class="graphvalue1">102482</span> days</h2>
				<h2><span class="graphvalue2">345128</span> dollars</h2> -->
			</div>
		</div>
	</div>
</div>