{% load staticfiles %}
<div class="page third">
	<div class="pagecontent third">
		<div class="graph-desc">
			<img src="{%static 'webapp/assets/placeholdergraph.png'%}">
			<h2>Top Habits<h2>
			<h2><span class="graphvalue1">435345</span> days</h2>
			<h2><span class="graphvalue2">10234</span> dollars</h2>
		</div>
		<div class="graph-desc">
			<img src="{%static 'webapp/assets/placeholdergraph.png'%}">
			<h2>Top Charities<h2>
			<h2><span class="graphvalue1">435345</span> days</h2>
			<h2><span class="graphvalue2">10234</span> dollars</h2>
		</div>
		<div class="graph-desc">
			<img src="{%static 'webapp/assets/placeholdergraph.png'%}">
			<h2>Habits vs Charities<h2>
			<h2><span class="graphvalue1">435345</span> days</h2>
			<h2><span class="graphvalue2">10234</span> dollars</h2>
		</div>
	</div>
</div>