<div class="page fourth">
	<h1>Who are we?</h1>
	<div class="profile">
		<div class="pictureplaceholder"></div>
		<h3>Daniel Yuan</h3>
		<p>Backend boy</p>
	</div>
	<div class="profile">
		<div class="pictureplaceholder"></div>
		<h3>Raymond Miao</h3>
		<p>Backend boy</p>
	</div>
	<div class="profile">
		<div class="pictureplaceholder"></div>
		<h3>Felix Li</h3>
		<p>Both</p>
	</div>
	<div class="profile">
		<div class="pictureplaceholder"></div>
		<h3>Jishnu Datta</h3>
		<p>:Frontend boy</p>
	</div>
</div>