{% extends "webapp/__base.html" %}
{% load staticfiles %}

{% block extra_head %}
  <script src="{% static 'webapp/js/login-page.js' %}"></script>
  <link rel = "stylesheet" type = "text/css" href = "{% static 'webapp/css/login.css' %}">
  <link href="{% static 'webapp/css/landing.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'webapp/css/landing1.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="page login">
   <div class ="pageborder">
      <div class ="login-container">
        <div class = "login-IO">
          <div class = "login-title">
            <div class = "text-wrapper">Login to Persist</div>
          </div>
          <div class = "input-field">
            <div class = "input-title">Username
            </div>
            <input type = "text" class = "input-area" id = "username"></input>
          </div>
          <div class = "input-field">
            <div class = "input-title">Password
            </div>
            <input type = "password" class = "input-area" id = "password"></input>
          </div>
          <button class = "login-btn" onclick = "login_click()">
            <div class = "text-wrapper">Sign In</div>
          </button>
          <div class = "sign-up">
            <button class = "signup-btn" onclick = "signup_click()">
              <div class = "text-wrapper">Sign Up</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
